@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&display=swap');

;root{
    --branco:white;
    --cor-e-fundo:#9CB080;
    --fundo-senha:#618764;
    --fundo-texto:#2B5748;
    --borda:#273338;
    --fonte:"Cause", cursive;

}
*{
    font-weight:400;
}
body{
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--"cause");
}
.titulo-principal{
    font-family: var(--fonte);
    font-size: 32px;
}
.titulo-secundario{
    font-size:24px;
    text-align:center;
    margin:80px;
}
.conteudo-titulo{
    text-align: center;
    margin-top:80px;
}
.cadeado-conteudo{
    width: 100px;
}
.conteudo-senha{
    margin-top: 80px;
    background: var(--fundo-senha);
    padding: 24px;
    border-bottom: 6px solid var(--borda);
    font-size: 25px;
}
#campo-senha{
    background-color: var(--fundo-senha);
    border:none;
    color:var(--branco);
    font-size: 40px;
    width: 70%;
}
#campo-senha:focus{
    outline: none;
}
.conteudo-senha{
    max-width: 1200px;
    margin: 0 auto;
}
.parametro{
    background-color: var(--fundo-texto);
    border: 2px solid var(--dorda);
    margin: 32px;
    padding: 24px;
}
.parametro-senha__titulo{
    font-size: 24px;
}
.parametro-coluna__senha{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.parametro-senha{
    width: 50%;
    margin: 0 auto;
}
.parametro-senha__botoes{
    display: flex;
    justify-content: center;
}
.parametro-senha-botao{
    background-color: var(--fundo-texto);
    color:var(--branco);
    border: 2px solid var(--borda);
    cursor:pointer;
}
.parametro-senha__texto{
    padding: 24px;
    border-top: 2px solid var(--borda);
    border-bottom: 2px solid var(--borda);
    margin: 0;
    font-size: 24px;
}
.label{
    font-size: 20px;
}
.checkbox{
    width: 20px;
    height: 20px;
    cursor:pointer;
}
.barra{
    background-color: var(--fundo-senha);
    height: 30px;
    width: 100%;
}
.forca{
    height: 30px;
    position: relative;
    bottom: 30px;
}
.fraca{
    width: 25%;
    background-color: rgba(233, 236, 53, 0.733);
}
.medio{
    width: 25%;
    background-color: rgba(90, 236, 53, 0.733);
}
.forte{
    width: 25%;
    background-color: rgba(53, 148, 236, 0.733);
}